<blockquote>
  This example shows how to do rolling updates on containers in OCCS
</blockquote>
<p>
<h2>Containers</h2>
<br>
Deployment: <b>{{ deployment }}</b>
<br>
<br>

<p>
<form class="form-inline" ng-submit="filter(key)" ng-controller="rollingUpdatesController">
  <label for="key">Filter by</label>
  <input class="form-control" type="text" id="key" ng-model="key" name="key">
  <button class="btn btn-success" type="submit" value="select">Filter</button>
</form>
<p>

<br>

<div ng-if="containers.length > 0">
  <span ng-if="allContainersOk && !recycledContainer">
    <form ng-submit="recycle(containers)" ng-controller="rollingUpdatesController" class="form-horizontal" role="form">
      <button class="btn btn-success" type="submit" value="recycle">Redeploy all {{ key }} ({{ containers.length }})</button>
    </form>
  </span>
  <div ng-if="!allContainersOk || recycledContainer" class="alert alert-danger" role="alert">
    Redeploying .. please wait ..
  </div>
</div>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="container in containers">
      <td> {{ container.name }} </td>
      <td> {{ container.state }} </td>
      <td>
          <div ng-if="container.state == 'Running'">
            <a ng-href="#/{{ container.id }}"><button class="btn btn-success">Redeploy</button> </a>
          </div>
          <div ng-if="container.state != 'Running'">
            <button class="btn btn-warning">Wait..</button>
          </div>
      </td>
    </tr>
		<tr ng-if="containers.length === 0">
			<td><strong>No containers found</strong></td>
		</tr>
  </tbody>
</table>
