<blockquote>
  OCCS rolling updates tool - Select deployment
</blockquote>
<p>
<br>

<h2>Deployments</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="deployment in deployments">
      <td> {{ deployment.id }} </td>
      <td> {{ deployment.name }} </td>
      <td>
          <form ng-submit="select(deployment)" ng-controller="rollingUpdatesController" class="form-horizontal" role="form">
            <input type="hidden" id="id" ng-model="deployment.id" name="id" />
            <button class="btn btn-success" type="submit" value="select">Select</button>
          </form>
      </td>
    </tr>
		<tr ng-if="deployments.length === 0">
			<td><strong>No deployments found</strong></td>
		</tr>
  </tbody>
</table>
