<script>
$('html,body').scrollTop(0);
</script>

<blockquote>
  OCCS rolling updates tool - Start with setting up the environment
</blockquote>
<p>
<br>
<h2>Setup</h2>
<br>

<p>
<div class="col-8 col-md-6 pull-md-4 bd-content">
  <form ng-submit="setup(data)" ng-controller="rollingUpdatesController">
    <div class="form-group">
      <label for="Host">Admin host IP</label>
      <input class="form-control" type="text" id="host" ng-model="data.host" name="host">
      <small class="form-text text-muted">OCCS service admin node IP address</small>
    </div>
    <br>
    <div class="form-group">
      <label for="Host">Bearer</label>
      <input class="form-control" type="text" id="bearer" ng-model="data.bearer" name="bearer">
      <small class="form-text text-muted">OCCS service My Profile API Token</small>
    </div>
    <p>
    <br>
    <button class="btn btn-success" type="submit" value="setup"> OK </button>
  </form>
</div>
<p>
